@using System.Threading.Tasks
@using Newtonsoft.Json
@model CoreReact.Models.PlayerProfile

@{
    ViewData["Title"] = "Details";
}
<script type="text/javascript">
     var data =@Html.Raw(JsonConvert.SerializeObject(Model))
</script>

<h2>Details</h2>

<div id="playerReactComp"></div>
@*<script src="~/Scripts/React/playerProfileModel.jsx" asp-append-version="true"></script>*@
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
